<a href="https://colab.research.google.com/github/PNU-Mar7th/AiPython/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 두 정수 비교
n1 = int(input("첫 번째 정수 입력: "))
n2 = int(input("두 번째 정수 입력: "))
if n1 > n2:
  print(f"{n1}은(는) {n2}보다 크다.")
elif n1 < n2:
  print(f"{n1}은(는) {n2}보다 작다.")
else:
  print(f"{n1}과(와) {n2}은(는) 같다.")

첫 번째 정수 입력: 1557
두 번째 정수 입력: 88848
1557은(는) 88848보다 작다.

In [9]:
#세 정수 중 가장 큰 정수
n1 = int(input("첫 번째 정수 입력:"))
print(n1)
n2 = int(input("두 번째 정수 입력:"))
print(n2)
n3 = int(input("세 번째 정수 입력:"))
print(n3)

m = n1

if n2 > m:
  print(f"두 번째 수 {n2}가 현재 최댓값 {m}보다 크다. 최댓값 업데이트.")
  m = n2
else:
  print(f"두 번째 수{n2}는 현재 최댓값 {m}보다 크지 않다.")
if n3 > m:
  print(f"세 번째 수 {n3}가 현재 최댓값 {m}보다 크다. 최댓값 업데이트.")
  m = n3
else:
  print(f"세 번째 수{n3}는 현재 최댓값 {m}보다 크지 않다.")
print(f"입력한 세 정수 중 가장 큰 정수는 {m}이다.")

첫 번째 정수 입력:1557
1557
두 번째 정수 입력:88848
88848
세 번째 정수 입력:1
1
두 번째 수 88848가 현재 최댓값 1557보다 크다. 최댓값 업데이트.
세 번째 수1는 현재 최댓값 88848보다 크지 않다.
입력한 세 정수 중 가장 큰 정수는 88848이다.

In [51]:
#학점 계산기
점수 = int(input(f"당신의 초라한 점수를 입력:"))
if 0 <= 점수 <= 100:
  if 점수 >= 90:
    학점 = "A"
    print("족보를 보셨군요?")
  elif 점수 >= 80:
    학점 = "B"
  elif 점수 >= 70:
    학점 = "C"
  elif 점수 >= 60:
    학점 = "D"
  else:
    학점 = "F"
    print("자퇴를 추천드립니다.")
  print(f"당신의 학점은 {학점}입니다.")
else:
  print("당신은 정말 그런 점수를 받았습니까?")

당신의 초라한 점수를 입력:99
족보를 보셨군요?
당신의 학점은 A입니다.

In [53]:
#윤년
y = int(input("연도를 입력:"))
if (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0):
  print(f"{y}년은 윤년.")
else:
  print(f"{y}년은 평년.")

연도를 입력:88848
88848년은 윤년.

In [56]:
for i in range(5):
 print(i+1)

1
2
3
4
5

In [57]:
list = [1, 2, 3, 4, 5]
for i in range(len(list)):
  print(list[i])

1
2
3
4
5

In [59]:
c = 0
while c < 3:
 print(c)
 c += 1

0
1
2

In [75]:
#1부터 N까지 합
try:
  n = int(input("양의 정수 입력:"))
  if n > 0:
    s = 0
    for i in range(1, n+1):
      s += i
    print(f"1부터 {n}까지의 합은 {s}이다.")
  else:
      print("양의 정수를 입력하라고 했다.")
except ValueError:
  print("유효한 숫자를 입력하라고.")

양의 정수 입력:10
1부터 10까지의 합은 55이다.

In [104]:
#While 반복
n = 0
print("0부터 9까지 출력:")
while n < 10:
  print(n)
  n += 1
print("while 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while 루프 종료